:root {
}
input{
    cursor: pointer;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.bmi__calculator {
  border: 1px dotted red;
  padding:2rem;
}
.form__measurement{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  width:100%;
}

.height__cm,
.height__ft,
.height__in,
.weight__kg,
.weight__st,
.weight__lb,
.bmi-calculator__input-height,
.bmi-calculator__input-weight {
  position: relative;
}

.height__cm::after {
  content: "cm";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.height__ft::after {
  content: "ft";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.height__in::after {
  content: "in";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.weight__kg::after {
  content: "kg";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}



.weight__st::after {
  content: "st";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.weight__lb::after {
    content: "lb";
    position: absolute;
    right: 5%;
    top: 50%;
  transform: translateY(-50%);
  }

.alert__input{
  border: 1px solid red;
}

.alert__message{
  margin: 0;
  color:red;
  font-size: 0.8rem;
}
input{
  margin:0.25rem;
}
/* .heigth__ft,.height__in,.weight__st,.weight__lb{
  margin:0.25rem;
} */
@media screen and (max-width:375px){
  .bmi__calculator{
    display:flex;
    flex-flow:column nowrap;;
    align-items:center;
  }
  .form__measurement{
    margin:1.5rem;
  }
  
  #height__cm,#weight__kg{
    width:17.5rem;
    height:4rem;
  }
  #height__ft,#height__in,#weight__st,#weight__lb{
    width:8.25rem;
    height:4rem;
  }
}