@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --pure-white: #fff;
  --blue: #345ff6;
  --heading-xl: 4rem;
  --heading-l: 3rem;
  --heading-m: 1.5rem;
  --heading-s: 1.25rem;
  --body-m: 1rem;
  --body-s: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::after {
  font-size: var(--heading-m);
  color: var(--blue);
}

.heading__xl,
.heading__l,
.heading__m,
.heading__s {
  font-weight: bold;
}

.heading__xl {
  font-size: var(--heading-xl);
}

.heading__l {
  font-size: var(--heading-l);
}

.heading__m {
  font-size: var(--heading-m);
}

.heading__s {
  font-size: var(--heading-s);
}

.body__m {
  font-size: var(--body-m);
}

.body__m_bold {
  font-size: bold;
}

.body__s {
  font-size: var(--body-s);
}

body {
  padding: 0rem 8.75rem;
  display: grid;
  row-gap: 6rem;
}

.hero__section_background {
  position: absolute;
  min-width: 23rem;
  max-width: 61rem;
  min-height: 40rem;
  max-height: 46rem;
  background-image: linear-gradient(
    150deg,
    rgba(214, 230, 254, 0),
    rgba(214, 252, 254, 100)
  );
  z-index: -2;
  width: 100%;
  height: 100%;
}

.hero__section {
  display: flex;
  flex-flow: column;
  align-items: left;
  text-align: left;
  min-width: 20rem;
  max-width: 35rem;
  width: 100%;
}

.image__logo {
  width: 4rem;
  aspect-ratio: 1/1;
}

.form__bmi {
  width: 100%;
}

.bmi__input-height,
.bmi__input-weight {
  display: grid;
  grid-auto-columns: 1fr;
  column-gap: 0.2rem;
}

.bmi__input-height > p,
.bmi__input-weight > p {
  grid-column: 1/3;
}

.height__ft,
.height__in,
.weight__st,
.weight__lb {
  display: none;
  height: 4rem;
  width: 100%;
}

.weight__kg,
.height__cm {
  box-sizing: border-box;
  height: 4rem;
  grid-column: 1/3;
  width: 100%;
}

.bmi__calculator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  padding: 2rem;
  max-width: 39rem;
  min-width: 17.5rem;
  filter: drop-shadow(16px 32px 56px rgba(0, 0, 0, 0.25));
  border-radius: 1rem;
  background: var(--pure-white);
  row-gap: 1.875rem;
  margin: 0 1rem;
}

.form__measurement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.height__cm,
.height__ft,
.height__in,
.weight__kg,
.weight__st,
.weight__lb,
.bmi-calculator__input-height,
.bmi-calculator__input-weight {
  position: relative;
  margin: 0;
}

.height__cm::after {
  content: "cm";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.height__ft::after {
  content: "ft";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.height__in::after {
  content: "in";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.weight__kg::after {
  content: "kg";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.weight__st::after {
  content: "st";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.weight__lb::after {
  content: "lb";
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.alert__input {
  border: 1px solid red;
}

.alert__message {
  margin: 0;
  color: red;
  font-size: 0.8rem;
}

input {
  margin: 0.25rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -webkit-text-stroke: 1px #d8e2e7;
}

input[type="number"]:active {
  -webkit-text-stroke: 1px var(--blue);
}
input[type="number"]:active {
  -webkit-text-stroke: 1px var(--blue);
}
input[type="radio"] {
  transform: scale(2);
  margin-right: 1.25rem;
  -webkit-text-stroke: 1px #6c9aa3;
}

input[type="radio"]:hover {
  -webkit-text-stroke: 1px var(blue);
}

input[type="radio"]:hover {
  -webkit-text-stroke: 1px var(blue);
}

#height__ft,
#height__in,
#weight__st,
#weight__lb,
#height__cm,
#weight__kg {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.bmi__calculator_value,
.bmi__calculator_explain {
  display: none;
}

.bmi__calculator_result {
  min-height: 9rem;
  width: 100%;
  margin: 1.5rem 0;
  background: var(--blue);
  padding: 2rem;
  color: var(--pure-white);
  border-radius: 1.5rem 39rem 39rem 1.5rem;
}

main {
  display: grid;
  row-gap: 6rem;
}

.bmi__exp {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.image__bmi_exp {
  max-width: 33rem;
  min-width: 23rem;
  width: 100%;
}

.bmi__tips {
  background-image: linear-gradient(
    315deg,
    rgba(214, 230, 254, 0.4),
    rgba(214, 252, 254, 0)
  );
  display: flex;
  flex-flow: column wrap;
  border-radius: 2.25rem;
  padding: 4.5rem 7rem 6rem;
}

.bmi__limit {
  box-shadow: 0.5rem 1rem 1.25rem 0.25rem #8faecf40;;
  border-radius: 1rem;
}

.bmi__tip {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bmi__limit-heading-section {
  display: flex;
  flex-flow: row;
}
.bmi__limit-heading-section h5 {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
    justify-items: center;
  }
  .hero__section {
    align-items: center;
    text-align: center;
  }

  .hero__section_background {
    border-radius: 0 0 2rem 2rem;
  }

  .image__logo {
    width: 2.5rem;
  }

  .bmi__exp {
    column-gap: 6rem;
    padding: 0;
  }

  .bmi__limits-main-content {
    margin-bottom: 3.5rem;
  }
  
}

@media screen and (max-width: 375px) {
  body {
    margin: 0;
    padding: 0 1.25rem;
    row-gap: 4.5rem;
  }

  main {
    row-gap: 4.5rem;
  }

  .bmi__calculator_result {
    border-radius: 1rem;
  }

  .bmi__exp {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }

  .bmi__tips {
    padding: 3.5rem 1rem;
  }

  .bmi__limits{
    margin:0 1rem;
  }
  .bmi__limits_subs_content{
    display:flex;
    flex-flow:column;
    row-gap:1rem;
  }
  .bmi__limit{
    padding:1.5rem;
  }
}
